/*
     ___     __  ___ __  
|__||__  /\ |  \|__ |__) 
|  ||___/~~\|__/|___|  \ 
*/
header{
}

.headerContainer {
	padding: 0;
	height: 1400px;

	@media #{$bigger} {
		height: 1200px;
		h1 {
			font-size: 46px;
		}
	}

	@media #{$tablet} {
		height: 800px;
		h1 {
			font-size: 40px;
		}
	}

	@media #{$mobile} {
		height: 400px;
		h1 {
			font-size: 30px;
		}
	}

	.image-fix{
	    top:0;
		background-color: #222;
		height: 100%;
		position: absolute;
		width: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		@include header-animation();

		&.img4{
			/*back of a girl facing a city*/
			background: url('/images/landing_bg_image4.png') no-repeat center center;		
		}

		&.img3{
			/*woman holding a vintage camera*/
			background: url('/images/landing_bg_image3.png') no-repeat center center;
			/*Animation*/
			-webkit-animation-delay: -12s;
		}	

		&.img2{
			/*someone holding a map*/
			background: url('/images/landing_bg_image2.png') no-repeat center center;
			/*Animation*/
			-webkit-animation-delay: -6s;
		}
	}

	/*Black overlay*/
	.image-fix:after{
		content: "";
		position: absolute;
		width: inherit;
		height: inherit;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.2);
	}


	h1{
	font-family: $source-font;
	font-weight: 300;
	z-index: 900;
	text-transform: uppercase;

	@include vertical-align();
	}

	h1:before {
	background: #f2f2f2;
	content: "";
	display: block;
	height: 3px;
	position: absolute;
	top: 110%;
	width: 50%;
	}

	h1:before {
	left: 25%;
	}

	h1:after {
	background: #f2f2f2;
	content: "";
	display: block;
	height: 3px;
	position: absolute;
	top: -10%;
	width: 50%;
	}

	h1:after {
	left: 25%;
	}
}

.taglineContainer{
	h3{
	font-family: $source-font;
	font-weight: 300;
	z-index: 101;
	color: white;

	position: absolute;
	display: inline-block;
	top: 70%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	}
}
